body {
  background-color: black;
  color: greenyellow;
  font-family: "Sono", "sans-serif";
}
.logo {
  -webkit-transform: rotate(90deg);
  height: 30vh;
  width: 9vw;
  cursor: pointer;
  top: 78px;
  position: relative;
}
.start-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
  padding: 0px;
}
.title {
  font-family: "rubik bubbles", sans-serif;
  text-align: center;
  margin-top: 0px;
  font-size: 90px;
  top: 10;
  position: absolute;
}
button {
  font-family: "Sono", "sans-serif";
  margin-top: 10px;
  border-radius: 5px;
  padding: 4px 6px;
  color: greenyellow;
  background-color: black;
  border: 0.5px greenyellow solid;
  box-shadow: 1px 1px hotpink;
  cursor: pointer;
}
.reload {
  color: hotpink;
  box-shadow: none;
  border: 0.5px black solid;
  cursor: pointer;
}
.page-layout {
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.play-grid {
  margin-top: 125px;
}

.infomation-box {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.playing {
  margin-right: 15%;
  margin-left: 2%;
  width: 400px;
}
.phase-in-out-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phase-in-out-info p {
  margin-top: 0;
  padding: 0px;
  font-size: 15px;
}
.grid-wrapper {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 600px;
  height: 600px;
}
.grid div {
  border: 1px green solid;
  flex-grow: 1;
  height: 9.6%;
  width: 9%;
  background-image: url(../images/blackbackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div.weakGlass {
  background-image: url(../images/glassFloor.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div.frog {
  background-image: url(../images/frog.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.grid div.guard {
  background-image: url(../images/guard.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div.mask {
  background-image: url(../images/mask.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.grid div.collision {
  background-image: url(../images/explosion.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.goal {
  background-image: url(../images/money.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.boss {
  background-image: url(../images/boss.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.doll {
  background-image: url(../images/squid_doll.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
  color: red;
  font-family: "rubik bubbles", "sans-serif";
  margin-left: 16%;
  position: absolute;
  animation: pulse 1.5s infinite;
}
.alert-win {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: red;
  font-family: "rubik bubbles", "sans-serif";
  margin-left: 20vw;
  position: absolute;
  animation: pulse 1.5s infinite;
}
.home-btn {
  margin-left: 28vw;
  margin-top: 78vh;
  padding: 6px;
  width: 150px;
  border: 1px white solid;
}
.home-btn-win {
  margin-left: 39vw;
  margin-top: 78vh;
  padding: 6px;
  width: 190px;
  border: 1px white solid;
}
.doll-img {
  background-image: url(../images/dance-doll.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
  height: 70vh;
  margin-top: 130px;
}
.celebrate {
  background-image: url(../images/squid-win.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 130px;
  width: 70vw;
  height: 70vh;
}
@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1200px) {
  .title {
    display: none;
  }
  .phase-in-out-info {
    width: 400px;
    margin-right: 5%;
  }
  .grid {
    width: 500px;
    height: 400px;
    margin-right: 10%;
  }
  .grid div {
    width: 9.3%;
    height: 9.3%;
  }
}
@media only screen and (max-width: 850px) {
  .logo {
    display: none;
  }
  .phase-in-out-info {
    width: 200px;
    margin-right: 10x;
  }
  .grid {
    margin-right: 30%;
    width: 400px;
    height: 300px;
  }
  .grid div {
    width: 9%;
    height: 9.2%;
  }
}
